<!DOCTYPE html>
<html>
	<head>
		<title>Google Clone - Search Results</title>
	</head>
	<body>
		<h1>Search Results for "<%= query %>"</h1>
		<form action="/search" method="post">
			<input
				type="text"
				name="query"
				placeholder="Enter your search query"
			/>
			<button type="submit">Search</button>
		</form>

		<% if (searchResults.length === 0) { %>
		<p>No results found.</p>
		<% } else { %> <% searchResults.slice(0,
		resultsPerPage).forEach(function(result) { %>
		<div style="margin: 10px; padding: 10px">
			<a href="<%= result.url %>">
				<i><%= result.url %></i><br />
				<h2><%= result.title %></h2>
			</a>
			<p><%= result.snippet %></p>
		</div>
		<% }); %> <% } %>

		<div>
			<% if (currentPage > 1) { %>
			<a href="/search?page=<%= currentPage - 1 %>">Previous Page</a>
			<% } %> <% if (searchResults.length === resultsPerPage) { %>
			<a href="/search?page=<%= currentPage + 1 %>">Next Page</a>
			<% } %>
		</div>
	</body>
</html>
